html{
    background-color:rgb(55, 156, 143);
}
img{
    padding: 3px;
    border: 2px solid black;
    text-align: center;
}
h1{
    color:rgb(20, 20, 20);
    font-style: italic;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding: 3px;
  }
  h2{
      color: black;
      font-style: normal;
      font-size: 35px;
      text-align: left;
      text-decoration: none;
      padding: 3px;
  }
  li{
    font-size: 25px;
    color:rgb(5, 1, 1);
    padding: 15px;
  }
  P{
    color: black;
    font-size:15px; 
  }
  table{
    width:300px;
  }
  table,tr,th,td{
    padding: 10px;
    border: 2px solid black; 
    
  }
  nav{
    max-width:960px;
    margin:0 outo;
    padding:7px 0;
    margin-right:0%;
    }
    nav > ul{
    text-align:right;
    }
    nav>ul>li{
    display:inline-block;
    }
    nav>ul>li>a{
    text-transform:uppercase;
    text-decoration:underline;
    display:block;
    color:blue
    }
 
  