html{
    background-color:rgb(55, 156, 143);
}
img{
    padding: 3px;
    border: 2px solid black;
}
h1{
    color:rgb(20, 20, 20);
    font-style: italic;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    padding: 3px;
  }
  h2{
      color: black;
      font-style: normal;
      font-size: 25px;
      text-align: center;
      text-decoration: none;
      padding: 3px;
  }
  li{
    font-size: 15px;
    color:brown;
    padding: 10px
  }
  P{
    color: black;
    font-size:15px; 
  }
  table{
    width:300px;
  }
  table,tr,th,td{
    padding: 10px;
    border: 2px solid black; 
    
  }
  nav{
    max-width:960px;
    margin:0 auto;
    padding:5px;
    margin-right: 0%;
  }
  ul>li{
    display: inline-block;
  }
  nav>ul{
    text-align: right;
  }
  na>ul>li{
    display:inline-block;
  }
  
   nav>ul>li>a{
     padding:5px;
     text-transform: uppercase;
     text-decoration: underline;
     display: block;
     color:grey;
   font-size:15px;
   margin-right:0;
  } 
  span{
    font-style: italic;
  }