html{
    background-color:rgb(55, 156, 143);
}
img{
    padding: 3px;
    border: 2px solid black;
    text-align: center;
}
h1{
    color:rgb(20, 20, 20);
    font-style: italic;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding: 3px;
  }
  h2{
      color: black;
      font-style: normal;
      font-size: 35px;
      text-align: center;
      text-decoration: none;
      padding: 3px;
  }
  li{
    font-size: 25px;
    color:rgb(5, 1, 1);
    padding: 15px;
  }
  P{
    color: black;
    font-size:15px; 
  }
  table{
    width:300px;
  }
  table,tr,th,td{
    padding: 10px;
    border: 2px solid black; 
    
  }
  navigation{
    background-color:#2124a7;
    box-shadow: 0 8px 6px -6px black;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navigation a{
    float: right;
    color:#a6a6a6;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  .navigation a:hover{
    background-color: black;
    color: aliceblue;
  }
  .navigation a:visited{
    color: blue;
  }
  